@use "admin/mixin" as mx;

.login{
    width: 100%;
    height: 90vh;
    @include mx.flex();
    > div {
        padding: 4rem 1.5rem;
        border-radius: 8px;
        @include mx.baseShadow();
        @include mx.flex(column, center, unset, 1rem);
        h1 {
            color: gray;
            font-size: 2rem;
        }
        > .inputLogin {
            @include mx.flex(column, unset, unset, 1rem);
            > div {
                @include mx.flex(column, unset, unset, 0rem);
                > input {
                    outline: none;
                    padding: 8px 16px;
                    border: 1px solid rgb(174, 174, 174);
                    border-radius: 4px;
                }
            }
            > div > button {
                @include mx.mainButton();
                width: 100%;
                margin-top: 1rem;
            }
        }
        > .googleLogin{
            @include mx.flex(column, center, center, .5rem);
            > button {
                @include mx.flex();
                @include mx.mainButton();
            }
        }
    }
}